*
!*/
#  ────────────────────────────────────────────────────────────────────
!/assets/**
!/docs/*/README.md
!/shisho/*.shisho.yaml
!/docker/**/README.md
!/docker/**/Dockerfile
#  ────────────────────────────────────────────────────────────────────
!/Makefile
!/Taskfile.dist.yaml
!/contrib/tasks/**/Taskfile.yaml
#  ────────────────────────────────────────────────────────────────────
!/**/.gitkeep
#  ────────────────────────────────────────────────────────────────────
!/**/Makefile
!/**/Taskfile.yaml
#  ────────────────────────────────────────────────────────────────────
!/.cspell/*.txt
!/.vscode/**
#  ────────────────────────────────────────────────────────────
!/.devcontainer/**
!/Vagrantfile
!/docker-bake.hcl
#  ────────────────────────────────────────────────────────────
!/.github/CODEOWNERS
!/.github/dependabot.yml
!/.github/ISSUE_TEMPLATE/
!/.github/ISSUE_TEMPLATE/*.md
!/.github/workflows/*.yml
!/.github/ISSUES/**.md
!/.github/pull_request_template.md
!/.github-labels.json
#  ────────────────────────────────────────────────────────────────────
!/cspell.config.yaml
!/.yamlfmt
!/commitlint.config.js
!/.dockerignore
!/.gitlint
!/.gitleaks.toml
!/.pre-commit-config.yaml
!/.markdownlint.yaml
!/.markdownlintignore
!/.editorconfig
!/.stignore
!/.gitignore
#  ────────────────────────────────────────────────────────────
!/.versionrc
!/LICENSE
!/README.md
!/CONTRIBUTING.md
!/CHANGELOG.md
!/todo.txt
